In [1]:
# ALL THE IMPORTS
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import GridSearchCV
from sklearn.ensemble import RandomForestClassifier
from sklearn import tree
from sklearn.metrics import confusion_matrix, accuracy_score, f1_score

import warnings

In [2]:
data = pd.read_csv("Open_Univ_Data_Final_merged.csv")
datac = pd.read_csv("Open_Univ_Data_Final_merged.csv")

In [3]:
data.set_index('id_student',inplace=True)

In [4]:
data.head()

,code_module,code_presentation,gender,region,highest_education,imd_band,age_band,num_of_prev_attempts,studied_credits,disability,...,quiz,repeatactivity,resource,sharedsubpage,subpage,url,sum_click,days_interacted,daily_click,final_result
id_student,,,,,,,,,,,,,,,,,,,,,
11391,AAA,2013J,M,East Anglian Region,HE Qualification,10.0,55<=,0,240,N,...,0.0,0.0,13.0,0.0,32.0,5.0,934,40,23.350000,Pass
28400,AAA,2013J,F,Scotland,HE Qualification,3.0,35-55,0,60,N,...,0.0,0.0,12.0,0.0,87.0,48.0,1435,80,17.937500,Pass
31604,AAA,2013J,F,South East Region,A Level or Equivalent,6.0,35-55,0,60,N,...,0.0,0.0,19.0,0.0,144.0,90.0,2158,123,17.544715,Pass
32885,AAA,2013J,F,West Midlands Region,Lower Than A Level,6.0,0-35,0,60,N,...,0.0,0.0,45.0,0.0,79.0,14.0,1034,70,14.771429,Pass
38053,AAA,2013J,M,Wales,A Level or Equivalent,9.0,35-55,0,60,N,...,0.0,0.0,11.0,0.0,91.0,45.0,2445,143,17.097902,Pass

In [5]:
data.drop(columns=['date_unregistration', 'Exam_score','TMA_score','CMA_score','mean_score','registration_before','unique' ], inplace=True)
# data.drop(columns=['quiz','repeatactivity','resource','sharedsubpage','url'], inplace=True)
# data.drop(columns=['oucontent','ouelluminate','ouwiki','page','questionnaire'], inplace=True)
# data.drop(columns=['htmlactivity','oucollaborate','externalquiz','folder'], inplace=True)
data = data.replace(to_replace='55<=', value = '55')
data.head()

,code_module,code_presentation,gender,region,highest_education,imd_band,age_band,num_of_prev_attempts,studied_credits,disability,...,quiz,repeatactivity,resource,sharedsubpage,subpage,url,sum_click,days_interacted,daily_click,final_result
id_student,,,,,,,,,,,,,,,,,,,,,
11391,AAA,2013J,M,East Anglian Region,HE Qualification,10.0,55,0,240,N,...,0.0,0.0,13.0,0.0,32.0,5.0,934,40,23.350000,Pass
28400,AAA,2013J,F,Scotland,HE Qualification,3.0,35-55,0,60,N,...,0.0,0.0,12.0,0.0,87.0,48.0,1435,80,17.937500,Pass
31604,AAA,2013J,F,South East Region,A Level or Equivalent,6.0,35-55,0,60,N,...,0.0,0.0,19.0,0.0,144.0,90.0,2158,123,17.544715,Pass
32885,AAA,2013J,F,West Midlands Region,Lower Than A Level,6.0,0-35,0,60,N,...,0.0,0.0,45.0,0.0,79.0,14.0,1034,70,14.771429,Pass
38053,AAA,2013J,M,Wales,A Level or Equivalent,9.0,35-55,0,60,N,...,0.0,0.0,11.0,0.0,91.0,45.0,2445,143,17.097902,Pass

In [6]:
# data.drop(columns=['dualpane','glossary','date_registration_pos'], inplace=True)
data.head()

,code_module,code_presentation,gender,region,highest_education,imd_band,age_band,num_of_prev_attempts,studied_credits,disability,...,quiz,repeatactivity,resource,sharedsubpage,subpage,url,sum_click,days_interacted,daily_click,final_result
id_student,,,,,,,,,,,,,,,,,,,,,
11391,AAA,2013J,M,East Anglian Region,HE Qualification,10.0,55,0,240,N,...,0.0,0.0,13.0,0.0,32.0,5.0,934,40,23.350000,Pass
28400,AAA,2013J,F,Scotland,HE Qualification,3.0,35-55,0,60,N,...,0.0,0.0,12.0,0.0,87.0,48.0,1435,80,17.937500,Pass
31604,AAA,2013J,F,South East Region,A Level or Equivalent,6.0,35-55,0,60,N,...,0.0,0.0,19.0,0.0,144.0,90.0,2158,123,17.544715,Pass
32885,AAA,2013J,F,West Midlands Region,Lower Than A Level,6.0,0-35,0,60,N,...,0.0,0.0,45.0,0.0,79.0,14.0,1034,70,14.771429,Pass
38053,AAA,2013J,M,Wales,A Level or Equivalent,9.0,35-55,0,60,N,...,0.0,0.0,11.0,0.0,91.0,45.0,2445,143,17.097902,Pass

In [7]:
data = data.dropna()
data.final_result.value_counts()
data = data.replace(to_replace ="Distinction", value ="Pass")
data = data.replace(to_replace ="Withdrawn", value ="Fail")

In [8]:
train_cols = data.columns[0:-1]
label = data.columns[-1]

In [9]:
X = data[train_cols]
X.head()

,code_module,code_presentation,gender,region,highest_education,imd_band,age_band,num_of_prev_attempts,studied_credits,disability,...,questionnaire,quiz,repeatactivity,resource,sharedsubpage,subpage,url,sum_click,days_interacted,daily_click
id_student,,,,,,,,,,,,,,,,,,,,,
11391,AAA,2013J,M,East Anglian Region,HE Qualification,10.0,55,0,240,N,...,0.0,0.0,0.0,13.0,0.0,32.0,5.0,934,40,23.350000
28400,AAA,2013J,F,Scotland,HE Qualification,3.0,35-55,0,60,N,...,0.0,0.0,0.0,12.0,0.0,87.0,48.0,1435,80,17.937500
31604,AAA,2013J,F,South East Region,A Level or Equivalent,6.0,35-55,0,60,N,...,0.0,0.0,0.0,19.0,0.0,144.0,90.0,2158,123,17.544715
32885,AAA,2013J,F,West Midlands Region,Lower Than A Level,6.0,0-35,0,60,N,...,0.0,0.0,0.0,45.0,0.0,79.0,14.0,1034,70,14.771429
38053,AAA,2013J,M,Wales,A Level or Equivalent,9.0,35-55,0,60,N,...,0.0,0.0,0.0,11.0,0.0,91.0,45.0,2445,143,17.097902

In [10]:
y = data[label].apply(lambda x: 1 if x == "Pass" else 0)
y.head()

id_student
11391    1
28400    1
31604    1
32885    1
38053    1
Name: final_result, dtype: int64

In [11]:
seed = 1
X_enc = pd.get_dummies(X, prefix_sep='.')
X_train_enc, X_test_enc, y_train, y_test = train_test_split(X_enc, y, test_size=0.25, random_state=seed)
# X_train_enc.set_index('id_student',inplace=True)
X_train_enc.head()

,imd_band,num_of_prev_attempts,studied_credits,date_registration,date_registration_pos,dataplus,dualpane,externalquiz,folder,forumng,...,highest_education.A Level or Equivalent,highest_education.HE Qualification,highest_education.Lower Than A Level,highest_education.No Formal quals,highest_education.Post Graduate Qualification,age_band.0-35,age_band.35-55,age_band.55,disability.N,disability.Y
id_student,,,,,,,,,,,,,,,,,,,,,
2284583,5.0,0,180,-22.0,22.0,0.0,0.0,0.0,0.0,775.0,...,1,0,0,0,0,1,0,0,1,0
594229,2.0,0,60,-98.0,98.0,13.0,6.0,0.0,0.0,376.0,...,0,0,1,0,0,0,1,0,1,0
1612600,2.0,0,60,-133.0,133.0,0.0,0.0,0.0,0.0,441.0,...,0,0,1,0,0,0,1,0,1,0
545697,6.0,0,60,-49.0,49.0,0.0,0.0,0.0,0.0,832.0,...,0,0,1,0,0,1,0,0,0,1
576983,10.0,0,60,-31.0,31.0,0.0,0.0,0.0,0.0,50.0,...,0,0,1,0,0,1,0,0,1,0

In [12]:
sc = StandardScaler()
sc.fit(X_train_enc)
X_train_std = sc.transform(X_train_enc)
X_test_std = sc.transform(X_test_enc)
X_train_enc.head()

/home/deepti/anaconda3/lib/python3.6/site-packages/sklearn/preprocessing/data.py:625: DataConversionWarning: Data with input dtype uint8, int64, float64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
/home/deepti/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:3: DataConversionWarning: Data with input dtype uint8, int64, float64 were all converted to float64 by StandardScaler.
  This is separate from the ipykernel package so we can avoid doing imports until
/home/deepti/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:4: DataConversionWarning: Data with input dtype uint8, int64, float64 were all converted to float64 by StandardScaler.
  after removing the cwd from sys.path.

,imd_band,num_of_prev_attempts,studied_credits,date_registration,date_registration_pos,dataplus,dualpane,externalquiz,folder,forumng,...,highest_education.A Level or Equivalent,highest_education.HE Qualification,highest_education.Lower Than A Level,highest_education.No Formal quals,highest_education.Post Graduate Qualification,age_band.0-35,age_band.35-55,age_band.55,disability.N,disability.Y
id_student,,,,,,,,,,,,,,,,,,,,,
2284583,5.0,0,180,-22.0,22.0,0.0,0.0,0.0,0.0,775.0,...,1,0,0,0,0,1,0,0,1,0
594229,2.0,0,60,-98.0,98.0,13.0,6.0,0.0,0.0,376.0,...,0,0,1,0,0,0,1,0,1,0
1612600,2.0,0,60,-133.0,133.0,0.0,0.0,0.0,0.0,441.0,...,0,0,1,0,0,0,1,0,1,0
545697,6.0,0,60,-49.0,49.0,0.0,0.0,0.0,0.0,832.0,...,0,0,1,0,0,1,0,0,0,1
576983,10.0,0,60,-31.0,31.0,0.0,0.0,0.0,0.0,50.0,...,0,0,1,0,0,1,0,0,1,0

In [ ]:
# param_grid = { 
#     'n_estimators': [100, 500, 800, 1100],
#     'max_depth' : [10,20,30,50],
# #    'max_features': ['auto', 'sqrt', 'log2'],
#     'criterion' :['gini', 'entropy']
# }
# print("running")
# CV_rfc = GridSearchCV(estimator=RandomForestClassifier(random_state=1), param_grid=param_grid, cv= 5)
# CV_rfc.fit(X_train_std, y_train)
# print(CV_rfc.best_params_)


## Result from previous commands : n_Estimator = 500, max_depth = 20, criterion = 'entropy'

In [ ]:
# rf = RandomForestClassifier( n_estimators=500, max_depth = 33, criterion = 'entropy', random_state = 0).fit(X_train_std, y_train)

In [ ]:
# accuracy = accuracy_score(y_test, rf.predict(X_test_std))
# accuracy

In [ ]:
# dt = tree.DecisionTreeClassifier(criterion='gini')
# dt = dt.fit(X_train_std, y_train)
# train_pred = dt.predict(X_train_std)
# test_pred = dt.predict(X_test_std)

# print("Accuracy: {0:.3f}".format(accuracy_score(y_test, test_pred)),"\n")

In [13]:
from sklearn.preprocessing import Imputer
from sklearn.model_selection import  cross_val_score
from sklearn.pipeline import Pipeline
from sklearn.metrics import make_scorer

In [14]:
from skll.metrics import spearman
from skopt import BayesSearchCV
from skopt.space import Real, Categorical, Integer

In [15]:
sns.set(style="white", palette="colorblind", font_scale=1.2, 
        rc={"figure.figsize":(12,9)})
RANDOM_STATE = 420
N_JOBS=8

In [16]:
pipe = Pipeline([("imputer", Imputer()),
                 ("estimator", RandomForestClassifier(random_state=RANDOM_STATE))])

/home/deepti/anaconda3/lib/python3.6/site-packages/sklearn/utils/deprecation.py:58: DeprecationWarning: Class Imputer is deprecated; Imputer was deprecated in version 0.20 and will be removed in 0.22. Import impute.SimpleImputer from sklearn instead.
  warnings.warn(msg, category=DeprecationWarning)

In [20]:
X_train_enc

,imd_band,num_of_prev_attempts,studied_credits,date_registration,date_registration_pos,dataplus,dualpane,externalquiz,folder,forumng,...,highest_education.A Level or Equivalent,highest_education.HE Qualification,highest_education.Lower Than A Level,highest_education.No Formal quals,highest_education.Post Graduate Qualification,age_band.0-35,age_band.35-55,age_band.55,disability.N,disability.Y
id_student,,,,,,,,,,,,,,,,,,,,,
2284583,5.0,0,180,-22.0,22.0,0.0,0.0,0.0,0.0,775.0,...,1,0,0,0,0,1,0,0,1,0
594229,2.0,0,60,-98.0,98.0,13.0,6.0,0.0,0.0,376.0,...,0,0,1,0,0,0,1,0,1,0
1612600,2.0,0,60,-133.0,133.0,0.0,0.0,0.0,0.0,441.0,...,0,0,1,0,0,0,1,0,1,0
545697,6.0,0,60,-49.0,49.0,0.0,0.0,0.0,0.0,832.0,...,0,0,1,0,0,1,0,0,0,1
576983,10.0,0,60,-31.0,31.0,0.0,0.0,0.0,0.0,50.0,...,0,0,1,0,0,1,0,0,1,0
475981,4.0,0,120,-284.0,284.0,0.0,0.0,0.0,0.0,14.0,...,0,0,1,0,0,1,0,0,1,0
395814,5.0,1,120,-17.0,17.0,0.0,0.0,0.0,0.0,19.0,...,1,0,0,0,0,1,0,0,1,0
118050,7.0,0,90,-129.0,129.0,0.0,0.0,0.0,2.0,239.0,...,0,0,1,0,0,1,0,0,1,0
597573,2.0,0,60,-32.0,32.0,0.0,19.0,0.0,0.0,137.0,...,1,0,0,0,0,0,1,0,0,1
1998834,6.0,0,80,-78.0,78.0,0.0,0.0,0.0,0.0,74.0,...,1,0,0,0,0,1,0,0,1,0
258245,1.0,0,60,-120.0,120.0,9.0,0.0,0.0,0.0,205.0,...,0,0,1,0,0,1,0,0,0,1
654965,9.0,0,30,-87.0,87.0,0.0,0.0,0.0,0.0,461.0,...,1,0,0,0,0,1,0,0,1,0
631104,6.0,0,60,-39.0,39.0,21.0,0.0,0.0,4.0,202.0,...,1,0,0,0,0,0,1,0,1,0
599649,6.0,1,150,-23.0,23.0,0.0,0.0,1.0,0.0,3.0,...,0,1,0,0,0,1,0,0,1,0
688008,1.0,0,120,-32.0,32.0,23.0,1.0,0.0,0.0,224.0,...,0,1,0,0,0,1,0,0,1,0
594454,5.0,0,60,-84.0,84.0,0.0,0.0,0.0,0.0,11.0,...,0,0,1,0,0,1,0,0,1,0
692897,5.0,0,60,-39.0,39.0,0.0,0.0,0.0,0.0,125.0,...,0,0,1,0,0,1,0,0,1,0
141949,3.0,1,60,-60.0,60.0,0.0,0.0,0.0,0.0,496.0,...,0,0,1,0,0,1,0,0,1,0
466425,8.0,0,150,-29.0,29.0,8.0,0.0,0.0,1.0,51.0,...,0,1,0,0,0,1,0,0,1,0
643321,8.0,0,120,-109.0,109.0,0.0,0.0,0.0,0.0,142.0,...,0,1,0,0,0,0,1,0,1,0
236161,10.0,0,60,-24.0,24.0,0.0,0.0,0.0,0.0,215.0,...,1,0,0,0,0,0,1,0,1,0
614629,1.0,0,60,-35.0,35.0,0.0,0.0,0.0,0.0,262.0,...,0,1,0,0,0,0,1,0,1,0
680212,4.0,0,90,-25.0,25.0,0.0,0.0,0.0,0.0,78.0,...,1,0,0,0,0,1,0,0,1,0
618606,2.0,0,60,-117.0,117.0,0.0,0.0,0.0,0.0,65.0,...,1,0,0,0,0,1,0,0,1,0
612528,9.0,0,120,-50.0,50.0,0.0,0.0,0.0,3.0,79.0,...,1,0,0,0,0,1,0,0,1,0
2622627,4.0,0,180,-29.0,29.0,0.0,0.0,0.0,0.0,55.0,...,0,1,0,0,0,1,0,0,0,1
369208,2.0,0,60,-128.0,128.0,0.0,0.0,0.0,0.0,0.0,...,0,0,1,0,0,1,0,0,1,0
316091,4.0,0,30,-46.0,46.0,0.0,0.0,0.0,0.0,5.0,...,1,0,0,0,0,1,0,0,1,0
547332,3.0,0,60,-101.0,101.0,0.0,0.0,0.0,0.0,85.0,...,0,1,0,0,0,0,1,0,1,0
685391,3.0,0,60,-45.0,45.0,0.0,0.0,0.0,0.0,161.0,...,1,0,0,0,0,1,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
371247,9.0,1,120,-28.0,28.0,0.0,3.0,0.0,1.0,27.0,...,0,1,0,0,0,0,1,0,1,0
578823,8.0,0,180,-102.0,102.0,0.0,0.0,10.0,0.0,391.0,...,1,0,0,0,0,1,0,0,1,0
481367,1.0,1,120,-29.0,29.0,0.0,0.0,0.0,0.0,382.0,...,1,0,0,0,0,1,0,0,1,0
602948,8.0,0,90,-49.0,49.0,6.0,17.0,0.0,3.0,176.0,...,1,0,0,0,0,0,1,0,1,0
656543,3.0,0,30,-60.0,60.0,0.0,0.0,0.0,0.0,0.0,...,1,0,0,0,0,1,0,0,1,0
359417,10.0,0,60,-58.0,58.0,0.0,6.0,0.0,0.0,424.0,...,0,0,1,0,0,1,0,0,1,0
575454,4.0,0,30,-18.0,18.0,0.0,0.0,0.0,0.0,0.0,...,0,0,1,0,0,1,0,0,0,1
649095,3.0,0,30,-100.0,100.0,0.0,0.0,0.0,0.0,96.0,...,1,0,0,0,0,0,1,0,1,0
635122,10.0,0,60,-28.0,28.0,0.0,0.0,0.0,0.0,206.0,...,1,0,0,0,0,1,0,0,1,0
383778,4.0,0,60,-36.0,36.0,0.0,0.0,0.0,0.0,318.0,...,0,0,1,0,0,0,1,0,1,0
517223,5.0,0,120,-15.0,15.0,0.0,0.0,0.0,0.0,0.0,...,1,0,0,0,0,1,0,0,1,0
577533,4.0,0,120,-172.0,172.0,0.0,5.0,0.0,0.0,304.0,...,1,0,0,0,0,1,0,0,1,0
582940,7.0,0,60,-19.0,19.0,0.0,0.0,0.0,0.0,153.0,...,0,0,1,0,0,0,1,0,1,0
573235,7.0,1,120,-24.0,24.0,0.0,0.0,0.0,0.0,60.0,...,0,1,0,0,0,1,0,0,1,0
645586,2.0,0,90,-63.0,63.0,2.0,0.0,0.0,0.0,187.0,...,0,1,0,0,0,1,0,0,1,0
646540,8.0,0,60,-24.0,24.0,12.0,3.0,0.0,0.0,457.0,...,1,0,0,0,0,1,0,0,1,0
609510,8.0,0,60,-25.0,25.0,0.0,0.0,0.0,0.0,24.0,...,1,0,0,0,0,1,0,0,1,0
236857,8.0,0,120,-40.0,40.0,0.0,0.0,9.0,0.0,176.0,...,0,0,1,0,0,1,0,0,1,0
631216,2.0,0,60,-44.0,44.0,0.0,0.0,0.0,0.0,12.0,...,0,0,1,0,0,1,0,0,1,0
650987,8.0,0,60,-50.0,50.0,0.0,0.0,0.0,0.0,6.0,...,1,0,0,0,0,1,0,0,1,0
627595,3.0,0,60,-58.0,58.0,23.0,0.0,0.0,1.0,650.0,...,0,1,0,0,0,1,0,0,1,0
335764,3.0,0,60,-196.0,196.0,0.0,0.0,0.0,0.0,1124.0,...,1,0,0,0,0,1,0,0,1,0
595246,3.0,1,60,-46.0,46.0,0.0,0.0,0.0,0.0,9.0,...,0,0,1,0,0,1,0,0,1,0
596231,2.0,0,90,-57.0,57.0,0.0,0.0,0.0,0.0,32.0,...,1,0,0,0,0,1,0,0,1,0
634349,1.0,0,120,-22.0,22.0,0.0,0.0,0.0,0.0,9.0,...,1,0,0,0,0,1,0,0,1,0
144895,8.0,0,60,-152.0,152.0,0.0,0.0,9.0,0.0,729.0,...,1,0,0,0,0,1,0,0,1,0
523940,1.0,0,60,-134.0,134.0,12.0,9.0,0.0,0.0,1966.0,...,1,0,0,0,0,1,0,0,1,0
516434,10.0,0,60,-121.0,121.0,0.0,0.0,0.0,0.0,345.0,...,1,0,0,0,0,0,1,0,1,0
1782581,5.0,0,60,-136.0,136.0,0.0,0.0,2.0,0.0,32.0,...,0,0,1,0,0,0,1,0,1,0
1765788,8.0,0,60,-43.0,43.0,2.0,0.0,0.0,0.0,1853.0,...,0,1,0,0,0,0,0,1,1,0

In [21]:
# We use spearman's rank correlation as the scoring metric since
# we are concerned with ranking the players
spearman_scorer = make_scorer(spearman)

# the hyperparamters to search over, including different imputation strategies
rf_param_space = {
    'imputer__strategy': Categorical(['mean', 'median', 'most_frequent']),
    'estimator__max_features': Integer(1, 8),
    'estimator__n_estimators': Integer(50, 500), 
    'estimator__min_samples_split': Integer(2, 200),
}
# create our search object
search = BayesSearchCV(pipe, 
                      rf_param_space, 
                      cv=10,
                      n_jobs=N_JOBS, 
                      verbose=0, 
                      error_score=-9999, 
                      scoring=spearman_scorer, 
                      random_state=RANDOM_STATE,
                      return_train_score=True, 
                      n_iter=3)

In [24]:
with warnings.catch_warnings():
    warnings.filterwarnings('ignore')
    search.fit(X_train_std, y_train) 
search.best_params_

{'estimator__max_features': 7,
 'estimator__min_samples_split': 93,
 'estimator__n_estimators': 137,
 'imputer__strategy': 'mean'}

In [25]:
predicted = search.predict(X_test_std)
model_test_score = spearman_scorer(search, X_test_std, y_test)
model_test_score
# estimator = pipe.best_estimator_.named_steps['estimator']

0.6657551627501685

In [26]:
estimator = search.best_estimator_.named_steps['estimator']
imputer = search.best_estimator_.named_steps['imputer']
estimator.feature_importances_

array([5.16313716e-03, 2.60859867e-03, 8.50546859e-03, 5.73563874e-03,
       5.75339102e-03, 1.20032563e-02, 4.16295533e-03, 9.66329028e-03,
       8.15680501e-03, 4.48520974e-02, 8.38266508e-03, 9.50151546e-02,
       3.52617879e-03, 1.39702060e-02, 5.44874871e-02, 3.34965428e-03,
       2.55971832e-02, 1.83936178e-02, 7.80436013e-03, 1.09065433e-01,
       1.01705237e-04, 4.66729515e-02, 5.17109371e-04, 3.47523373e-02,
       3.35573479e-02, 1.03805546e-01, 1.82750027e-01, 2.26258638e-02,
       2.40246843e-03, 1.88206101e-02, 1.08461004e-02, 6.40003883e-03,
       3.37325729e-03, 2.31924048e-02, 1.78757890e-02, 2.38330772e-03,
       1.60869290e-03, 7.12759994e-04, 3.04955945e-03, 7.74684942e-03,
       1.05957544e-02, 5.32702839e-04, 4.42929108e-04, 6.10072284e-04,
       5.71868904e-04, 4.03270473e-04, 6.19942655e-04, 6.13059917e-04,
       3.83673910e-04, 4.68923726e-04, 4.61643693e-04, 5.47601764e-04,
       4.75697383e-04, 4.30364260e-04, 2.36153757e-03, 5.40149481e-04,
       6.20336117e-03, 5.53326306e-04, 2.34175418e-04, 8.37825061e-04,
       7.61128134e-04, 3.00529378e-04, 7.13668686e-04, 9.45487761e-04])

In [27]:
import eli5
features = list(X_enc.columns)
print(features)

['imd_band', 'num_of_prev_attempts', 'studied_credits', 'date_registration', 'date_registration_pos', 'dataplus', 'dualpane', 'externalquiz', 'folder', 'forumng', 'glossary', 'homepage', 'htmlactivity', 'oucollaborate', 'oucontent', 'ouelluminate', 'ouwiki', 'page', 'questionnaire', 'quiz', 'repeatactivity', 'resource', 'sharedsubpage', 'subpage', 'url', 'sum_click', 'days_interacted', 'daily_click', 'code_module.AAA', 'code_module.BBB', 'code_module.CCC', 'code_module.DDD', 'code_module.EEE', 'code_module.FFF', 'code_module.GGG', 'code_presentation.2013B', 'code_presentation.2013J', 'code_presentation.2014B', 'code_presentation.2014J', 'gender.F', 'gender.M', 'region.East Anglian Region', 'region.East Midlands Region', 'region.Ireland', 'region.London Region', 'region.North Region', 'region.North Western Region', 'region.Scotland', 'region.South East Region', 'region.South Region', 'region.South West Region', 'region.Wales', 'region.West Midlands Region', 'region.Yorkshire Region', 'highest_education.A Level or Equivalent', 'highest_education.HE Qualification', 'highest_education.Lower Than A Level', 'highest_education.No Formal quals', 'highest_education.Post Graduate Qualification', 'age_band.0-35', 'age_band.35-55', 'age_band.55', 'disability.N', 'disability.Y']

In [28]:
feat_imp_df = eli5.explain_weights_df(estimator, feature_names=features)
feat_imp_df.head(15)

            feature    weight       std
0   days_interacted  0.182750  0.152963
1              quiz  0.109065  0.071645
2         sum_click  0.103806  0.124011
3          homepage  0.095015  0.124775
4         oucontent  0.054487  0.059195
5          resource  0.046673  0.062289
6           forumng  0.044852  0.064427
7           subpage  0.034752  0.041836
8               url  0.033557  0.046238
9            ouwiki  0.025597  0.025300
10  code_module.FFF  0.023192  0.019321
11      daily_click  0.022626  0.010138
12  code_module.BBB  0.018821  0.013675
13             page  0.018394  0.012542
14  code_module.GGG  0.017876  0.014216

In [29]:
from IPython.display import Image  
from sklearn.tree import export_graphviz
import graphviz
import pydotplus
from io import StringIO

In [ ]:
depths2 = [tree for tree in estimator.estimators_]
print(len(depths2))

In [ ]:
tree = depths2[7]
print(tree)
# plot the tree
dot_data = StringIO()
export_graphviz(tree, out_file=dot_data, feature_names=features, 
                filled=True, rounded=True, special_characters=True)
# print(dot_data.getvalue())
graph = pydotplus.graph_from_dot_data(dot_data.getvalue())  
Image(graph.create_png())

In [30]:
train_X_imp = imputer.transform(X_train_std)

In [31]:
from concurrent.futures import ProcessPoolExecutor

def multiproc_iter_func(max_workers, an_iter, func, item_kwarg, **kwargs):
    """
    A helper functions that applies a function to each item in an iterable using
    multiple processes. 'item_kwarg' is the keyword argument for the item in the
    iterable that we pass to the function.
    """
    with ProcessPoolExecutor(max_workers=max_workers) as executor:
        future_results = [executor.submit(func, **{item_kwarg: item}, **kwargs)
                          for item in an_iter]

        results = [future.result() for future in future_results]
        
    return results

In [32]:
# train_expl_list = multiproc_iter_func(N_JOBS, train_X_imp, 
#                                       eli5.explain_prediction_df, 'doc',
#                                       estimator=estimator, 
#                                       feature_names=features)

In [34]:
# datac = pd.read_csv("Open_Univ_Data_Final_merged.csv")
# X_train_enc.reset_index(level=0, inplace=True)
# train_expl_df = pd.concat(train_expl_list, keys=X_train_enc.id_student, 
#                           names=['ID'])

MemoryError:

In [ ]:
# train_expl_df.head(60)

In [35]:
test_X_imp = imputer.transform(X_test_enc)
X_test_enc.reset_index(level=0, inplace=True)
test_expl_list = multiproc_iter_func(N_JOBS, test_X_imp, 
                                     eli5.explain_prediction_df, 'doc', 
                                     estimator=estimator,
                                     feature_names=features)
test_expl_df = pd.concat(test_expl_list, keys=X_test_enc.id_student, names=['ID'])
# test_expl_df.head(60)

ValueError: Shape of passed values is (363393, 4), indices imply (95307630, 4)

In [ ]:
# %matplotlib inline
# train_expl_df.rename(columns={'weight': 'contribution'}, inplace=True)
# test_expl_df.rename(columns={'weight': 'contribution'}, inplace=True)
# train_expl_df['data'] = 'train'
# test_expl_df['data'] = 'test'


# train_test_expl_df = pd.concat([train_expl_df, test_expl_df])
# sns.boxplot(x='feature', y='contribution', hue='data', order=features,
#             data=train_test_expl_df.loc[train_test_expl_df.feature!=''],
#             palette={'train': 'salmon', 
#                      'test':'deepskyblue'})
# plt.legend(loc=10)
# plt.title('Distributions of Feature Contributions');

In [ ]:
# export_csv = train_expl_df.to_csv(r'./contribution.csv', index = None, header=True)
# export_csv1 = test_expl_df.to_csv(r'./contribution_test.csv', index = None, header=True)


%matplotlib inline
train_expl_df.rename(columns={'weight': 'contribution'}, inplace=True)
test_expl_df.rename(columns={'weight': 'contribution'}, inplace=True)
train_expl_df['data'] = 'train'
test_expl_df['data'] = 'test'


train_test_expl_df = pd.concat([train_expl_df, test_expl_df])
sns.boxplot(x='feature', y='contribution', hue='data', order=features,
            data=train_test_expl_df.loc[train_test_expl_df.feature!=''],
            palette={'train': 'salmon', 
                     'test':'deepskyblue'})
plt.legend(loc=10)
plt.title('Distributions of Feature Contributions');